@model Pal_Book.Models.BookViewModel
@{
    ViewData["Title"] = "Delete Book";
}
<h2 class="text-center text-danger">Delete Book</h2>
<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <h4>Are you sure you want to delete this book?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Title</dt>
            <dd class="col-sm-9">@Model.Title</dd>
            <dt class="col-sm-3">Author</dt>
            <dd class="col-sm-9">@Model.Author</dd>
            <dt class="col-sm-3">Genre</dt>
            <dd class="col-sm-9">@Model.Genre</dd>
            <dt class="col-sm-3">Price</dt>
            <dd class="col-sm-9">@Model.Price.ToString("C")</dd>
        </dl>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="BookId" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
